@page "/productos"
@rendermode InteractiveServer
@inject IRepositoryProducts _repository;
@inject NavigationManager _navigator;
<PageTitle>Productos</PageTitle>
<h1>Productos</h1>

<button type="button" class="btn btn-primary mb-2" @onclick="Nueva">Agregar producto</button>
<br />

@if (_products == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>

}
else if (_products.Count == 0)
{
    <h4>No existen productos registrados</h4>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio de compra</th>
                <th>Precio de venta</th>
                <th>Cantidad en stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in _products)
            {
                <tr>
                    <td>@product.Code</td>
                    <td>@product.Description</td>
                    <td>$@product.BuyPrice</td>
                    <td>$@product.SalePrice</td>
                    <td>@product.StockQuantity</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" title="Editar" @onclick="() => Modificar(product.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Eliminar" @onclick="() => Eliminar(product)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product>? _products;
    protected override async Task OnInitializedAsync()
    {
        _products = await _repository.GetAll();
    }

    private void Nueva()
    {
        _navigator.NavigateTo($"/productos/nuevo");
    }
    private async void Eliminar(Product product)
    {
        await _repository.Delete(product.Id);
        _products!.Remove(product);
        StateHasChanged();
    }
    private void Modificar(int id)
    {
        _navigator.NavigateTo($"/productos/editar/{id}");
    }
}
